/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




html{
  font-family: "Poppins";
  box-sizing: border-box;
}


/* Show dropdown on hover */
#dropdownNavbarLink:hover + #dropdownNavbar,
#dropdownNavbar:hover {
    display: block;
    
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust as needed */
  left: 0;
  width: 0;
  height: 2px; /* Adjust thickness */
  background-color:#52B9A6; /* Adjust color */
  transition:  0.3s;
}

.nav-link:hover::after {
  width: 100%;
}


/* .slick-slide > div{
  margin: 0 15px;
  
}
.slick-arrow:before{
  color: #52B9A6;
  font-size: 40px;

}
.slick-prev{
  top: -60px;
  left: 1170px;
}
.slick-next{
  right: 26px;
   top : -60px;
}
.slick-dots li.slick-active button:before{
  color: #52B9A6;
  opacity:1;
} */
